include LICENSE
include README.md
include requirements.txt
include .env.example
include pyproject.toml
recursive-include scripts *
recursive-include docs *
recursive-include config *.py
recursive-include config *.encrypted
recursive-include tests *.py